<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <title>Product</title>
</head>
<body>
    <%- include("../partials/header.ejs")%>
    <h2 style="text-align: center;">Danh sách sản phẩm</h2>
    <table table border="1">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Rating</th>
        </tr>
        <% products.forEach(function(product) { %>
            <tr>
                <td class="title"><%= product.title %></td>
                <td class="price"><%= product.price %></td>
                <td class="description"><%= product.description %></td>
                <td class="img"><img src="<%= product.image %>"></td>
                <td class="rating"><%= product.rating.rate %> / <%= product.rating.count %></td>
            </tr>
        <% }) %>
        </table>
        <%- include("../partials/menu.ejs")%>
    <%- include("../partials/footer.ejs")%>
</body>
</html>